@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500&display=swap');

/* ==================== Default all Page Css ====================== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** ==================== Not Found page Css ======================*/
.pnf-btn{
  color: #ff0101;
  border: 2px solid #ff0101;
  border-radius: 25px;
  text-decoration: none;
  padding: 8px;

}
.pnf-btn:hover{
  color: lime;
  border: 2px solid lime;
}

/** ==================== Form Css ======================*/

.badge{
  margin: 5px;
}

a:link    { color: #ffffff; }
a:visited { color: #ffffff; }

Link:hover {
  color:  #ffffff;
  background: #3263cc !important;
}