@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;500&display=swap');

/* ==================== Default all Page Css ====================== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}